@model List<Book>
@{
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <a asp-action="create" class="btn btn-primary">Create</a>
        </div>
        <div class="col-md-10 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Sale Price</th>
                        <th scope="col">Cost Price</th>
                        <th scope="col">Discount Percent</th>
                        <th scope="col">Page Size</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@book.Name</td>
                        <td>@book.Author</td>
                        <td>@book.Genre</td>
                        <td>@book.SalePrice</td>
                        <td>@book.CostPrice</td>
                        <td>@book.DiscountPercent</td>
                        <td>@book.PageSize</td>
                        <td>
                            <a asp-action="edit" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="delete" asp-route-id="@book.Id" class="btn btn-danger sweet-delete">Sweet Delete</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

